Repository ministryofjustice/hmpps-approved-premises-ui, pull requests merged in 2023-03, with the labels that each got.

#584 (1066) Fix - cancellation reason
  server/utils/formUtils.ts
  server/utils/utils.test.ts
  server/utils/utils.ts
  wiremock/stubApis.ts
  wiremock/userStubs.ts
Labels: manage

#581 (1246) Trigger plan screen
  cypress_shared/helpers/apply.ts
  cypress_shared/pages/apply/contingencyPlanQuestions.ts
  server/form-pages/apply/risk-and-need-factors/further-considerations/contingencyPlanQuestions.test.ts
  server/form-pages/apply/risk-and-need-factors/further-considerations/contingencyPlanQuestions.ts
  server/form-pages/apply/risk-and-need-factors/further-considerations/index.ts
  server/form-pages/apply/risk-and-need-factors/further-considerations/triggerPlan.test.ts
  server/form-pages/apply/risk-and-need-factors/further-considerations/triggerPlan.ts
  server/form-pages/apply/schema.json
  server/testutils/factories/application.ts
  server/utils/applications/shouldShowTriggerPlanPage.test.ts
  server/utils/applications/shouldShowTriggerPlanPage.ts
  server/views/applications/pages/further-considerations/contingency-plan-questions.njk
  server/views/applications/pages/further-considerations/trigger-plan.njk
Labels: apply

#595 (1276) Check a CRN is in a user's caseload when searching at the start of an application
  cypress_shared/helpers/apply.ts
  cypress_shared/pages/apply/enterCrn.ts
  integration_tests/mockApis/applications.ts
  integration_tests/mockApis/person.ts
  integration_tests/tests/apply/apply.cy.ts
  server/controllers/apply/applicationsController.test.ts
  server/controllers/apply/applicationsController.ts
  server/controllers/peopleController.test.ts
  server/controllers/peopleController.ts
  server/data/personClient.test.ts
  server/data/personClient.ts
  server/services/personService.test.ts
  server/services/personService.ts
  server/views/applications/new.njk
Labels: apply

#596 Add emergency application flow to integration tests
  cypress_shared/helpers/apply.ts
  cypress_shared/pages/apply/index.ts
  cypress_shared/pages/apply/placementStart.ts
  cypress_shared/pages/apply/reasonForShortNoticePage.ts
  cypress_shared/pages/apply/triggerPlanPage.ts
  integration_tests/tests/apply/apply.cy.ts
  server/testutils/addResponseToApplication.test.ts
  server/testutils/addResponseToApplication.ts
  server/testutils/addToApplication.test.ts
  server/testutils/addToApplication.ts
  server/utils/applications/shouldShowContingencyPlanPages.test.ts
Labels: apply

#609 1249 - Add a 'Rejected'/'Suitable' tag if an Assessment has been completed
  server/utils/assessments/utils.test.ts
  server/utils/assessments/utils.ts
Labels: assess

#632 Fix - submitting an allocation
  server/controllers/tasksController.test.ts
  server/controllers/tasksController.ts
  server/data/applicationClient.test.ts
  server/data/applicationClient.ts
  server/services/applicationService.test.ts
  server/services/applicationService.ts
Labels: bug, tasks

#639 (1321) - List all placement requests for a user
  cypress.config.ts
  cypress_shared/pages/match/listPlacementRequestsPage.ts
  integration_tests/mockApis/placementRequests.ts
  integration_tests/tests/match.cy.ts
  server/controllers/index.ts
  server/controllers/match/index.ts
  server/controllers/match/placementRequestsController.test.ts
  server/controllers/match/placementRequestsController.ts
  server/controllers/tasksController.test.ts
  server/data/index.ts
  server/data/placementRequestClient.test.ts
  server/data/placementRequestClient.ts
  server/data/taskClient.ts
  server/paths/api.ts
  server/paths/match.ts
  server/routes/index.ts
  server/routes/match.ts
  server/services/index.ts
  server/services/placementRequestService.test.ts
  server/services/placementRequestService.ts
  server/testutils/factories/placementRequest.ts
  server/utils/nunjucksSetup.ts
  server/utils/placementRequests/index.ts
  server/utils/placementRequests/table.test.ts
  server/utils/placementRequests/table.ts
  server/utils/tableUtils.test.ts
  server/utils/tableUtils.ts
  server/utils/tasks/table.test.ts
  server/utils/tasks/table.ts
  server/views/placementRequests/index.njk
Labels: match

#658 (1327) Search for a premises
  cypress.config.ts
  cypress_shared/helpers/index.ts
  cypress_shared/pages/match/listPlacementRequestsPage.ts
  cypress_shared/pages/match/searchPage.ts
  cypress_shared/pages/tasks/allocationPage.ts
  cypress_shared/pages/tasks/listPage.ts
  integration_tests/mockApis/beds.ts
  integration_tests/mockApis/person.ts
  integration_tests/tests/match.cy.ts
  integration_tests/tests/match/match.cy.ts
  package-lock.json
  package.json
  server/@types/ui/index.d.ts
  server/controllers/dashboardController.test.ts
  server/controllers/dashboardController.ts
  server/controllers/match/bedsController.test.ts
  server/controllers/match/bedsController.ts
  server/controllers/match/index.ts
  server/controllers/match/placementRequestsController.test.ts
  server/controllers/match/placementRequestsController.ts
  server/controllers/tasks/allocationsController.test.ts
  server/controllers/tasks/allocationsController.ts
  server/data/bedClient.test.ts
  server/data/bedClient.ts
  server/data/index.ts
  server/data/personClient.ts
  server/data/userClient.ts
  server/paths/api.ts
  server/paths/match.ts
  server/paths/tasks.ts
  server/routes/match.ts
  server/routes/tasks.ts
  server/services/bedService.test.ts
  server/services/bedService.ts
  server/services/bookingService.test.ts
  server/services/bookingService.ts
  server/services/index.ts
  server/testutils/factories/bedSearchParameters.ts
  server/testutils/factories/bedSearchResult.ts
  server/testutils/factories/booking.ts
  server/utils/matchUtils.test.ts
  server/utils/matchUtils.ts
  server/utils/nunjucksSetup.ts
  server/utils/placementRequests/table.test.ts
  server/utils/placementRequests/table.ts
  server/utils/tasks/table.ts
  server/utils/utils.ts
  server/views/dashboard/index.njk
  server/views/match/placementRequests/index.njk
  server/views/match/search.njk
  server/views/tasks/show.njk
Labels: match

#661 Fix E2E tests - install make
  .circleci/config.yml
Labels: e2e tests

#662 Fix E2E tests - install g++
  .circleci/config.yml
Labels: e2e tests

#664 Fix E2E tests - add -y flag to apt-get install
  .circleci/config.yml
Labels: e2e tests
