Repository ministryofjustice/hmpps-approved-premises-ui, pull requests merged in 2023-02, with the labels that each got.

#522 Fix - Apply task list page checkbox errors
  cypress_shared/helpers/apply.ts
  server/controllers/apply/applicationsController.test.ts
  server/controllers/apply/applicationsController.ts
  server/views/applications/show.njk
Labels: bug, apply

#529 (872) Assess - Review prison information details
  cypress_shared/pages/apply/caseNotes.ts
  cypress_shared/pages/assess/reviewPage.ts
  cypress_shared/pages/page.ts
  server/controllers/assess/assessmentsController.test.ts
  server/controllers/assess/assessmentsController.ts
  server/paths/assess.ts
  server/routes/assess.ts
  server/utils/assessments/utils.test.ts
  server/utils/assessments/utils.ts
  server/views/assessments/pages/review-application/review.njk
  server/views/assessments/pages/risk-information/prison-information.njk
Labels: assess

#533 (872) Assess - Review prison information - Case notes
  cypress_shared/pages/assess/reviewPage.ts
  cypress_shared/pages/page.ts
  integration_tests/tests/assess/assess.cy.ts
  server/controllers/assess/assessmentsController.test.ts
  server/controllers/assess/assessmentsController.ts
  server/routes/assess.ts
  server/utils/assessments/utils.test.ts
  server/utils/assessments/utils.ts
  server/views/assessments/pages/risk-information/prison-information.njk
Labels: assess

#526 (1062) Make postcode region check more forgiving
  cypress_shared/fixtures/applicationData.json
  server/etc/postcodeAreas.json
  server/form-pages/apply/move-on/relocationRegion.test.ts
  server/form-pages/apply/move-on/relocationRegion.ts
  server/utils/formUtils.test.ts
  server/utils/formUtils.ts
  server/views/applications/pages/location-factors/describe-location-factors.njk
Labels: apply

#543 (872) Assess - ACCT alerts review tab
  cypress_shared/pages/apply/caseNotes.ts
  cypress_shared/pages/assess/reviewPage.ts
  cypress_shared/pages/page.ts
  server/controllers/assess/assessmentsController.test.ts
  server/controllers/assess/assessmentsController.ts
  server/utils/assessments/utils.test.ts
  server/utils/assessments/utils.ts
  server/views/applications/pages/prison-information/case-notes.njk
  server/views/assessments/pages/risk-information/prison-information.njk
  server/views/partials/prisonInformationTable.njk
Labels: assess

#546 Fix/Assessment type guard
  server/utils/assessments/isAssessment.test.ts
  server/utils/assessments/isAssessment.ts
Labels: assess

#550 (871) Assess - Review risk details page
  assets/tabPanelTableScript.js
  cypress_shared/pages/assess/reviewPage.ts
  cypress_shared/pages/assess/riskInformationPage.ts
  server/@types/ui/index.d.ts
  server/controllers/assess/assessmentsController.test.ts
  server/controllers/assess/assessmentsController.ts
  server/controllers/assess/index.ts
  server/controllers/assess/supportingInformationController.test.ts
  server/controllers/assess/supportingInformationController.ts
  server/paths/assess.ts
  server/routes/assess.ts
  server/utils/assessments/oasysUtils.test.ts
  server/utils/assessments/oasysUtils.ts
  server/utils/assessments/utils.test.ts
  server/utils/assessments/utils.ts
  server/utils/nunjucksSetup.ts
  server/views/assessments/pages/risk-information/oasys-information.njk
  server/views/partials/prisonInformationTable.njk
Labels: assess

#548 Fix - Add proper rejectionRationale when rejecting an assessment
  server/services/assessmentService.test.ts
  server/services/assessmentService.ts
  server/utils/applicationUtils.test.ts
  server/utils/assessments/utils.test.ts
  server/utils/assessments/utils.ts
Labels: bug, assess

#504 Content changes
  cypress_shared/pages/apply/arson.ts
  cypress_shared/pages/apply/attachDocumentsPage.ts
  cypress_shared/pages/apply/catering.ts
  cypress_shared/pages/apply/previousPlacements.ts
  cypress_shared/pages/apply/rehabilitativeInterventions.ts
  cypress_shared/pages/apply/riskManagementFeatures.ts
  server/form-pages/apply/add-documents/attachDocuments.ts
  server/form-pages/apply/reasons-for-placement/basic-information/placementPurpose.test.ts
  server/form-pages/apply/reasons-for-placement/basic-information/placementPurpose.ts
  server/form-pages/apply/reasons-for-placement/basic-information/sentenceType.ts
  server/form-pages/apply/reasons-for-placement/basic-information/situation.test.ts
  server/form-pages/apply/reasons-for-placement/basic-information/situation.ts
  server/form-pages/apply/risk-and-need-factors/access-and-healthcare/covid.test.ts
  server/form-pages/apply/risk-and-need-factors/access-and-healthcare/covid.ts
  server/form-pages/apply/risk-and-need-factors/further-considerations/arson.test.ts
  server/form-pages/apply/risk-and-need-factors/further-considerations/arson.ts
  server/form-pages/apply/risk-and-need-factors/further-considerations/catering.test.ts
  server/form-pages/apply/risk-and-need-factors/further-considerations/catering.ts
  server/form-pages/apply/risk-and-need-factors/further-considerations/previousPlacements.ts
  server/form-pages/apply/risk-and-need-factors/location-factors/describeLocationFactors.test.ts
  server/form-pages/apply/risk-and-need-factors/location-factors/describeLocationFactors.ts
  server/form-pages/apply/risk-and-need-factors/risk-management-features/convictedOffences.test.ts
  server/form-pages/apply/risk-and-need-factors/risk-management-features/convictedOffences.ts
  server/form-pages/apply/risk-and-need-factors/risk-management-features/dateOfOffence.ts
  server/form-pages/apply/risk-and-need-factors/risk-management-features/rehabilitativeInterventions.test.ts
  server/form-pages/apply/risk-and-need-factors/risk-management-features/rehabilitativeInterventions.ts
  server/form-pages/apply/risk-and-need-factors/risk-management-features/typeOfConvictedOffence.test.ts
  server/form-pages/apply/risk-and-need-factors/risk-management-features/typeOfConvictedOffence.ts
  server/testutils/factories/oasysSections.ts
  server/views/applications/pages/access-and-healthcare/access-needs.njk
  server/views/applications/pages/access-and-healthcare/covid.njk
  server/views/applications/pages/attach-required-documents/attach-documents.njk
  server/views/applications/pages/basic-information/release-date.njk
  server/views/applications/pages/basic-information/sentence-type.njk
  server/views/applications/pages/further-considerations/arson.njk
  server/views/applications/pages/further-considerations/catering.njk
  server/views/applications/pages/further-considerations/previous-placements.njk
  server/views/applications/pages/layout.njk
  server/views/applications/pages/prison-information/case-notes.njk
  server/views/applications/pages/risk-management-features/rehabilitative-interventions.njk
  server/views/applications/pages/risk-management-features/risk-management-features.njk
  server/views/applications/pages/risk-management-features/type-of-convicted-offence.njk
  server/views/applications/pages/type-of-ap/ap-type.njk
  server/views/applications/people/confirm.njk
  server/views/applications/start.njk
Labels: content

#556 Fix/use browserify over esbuild for e2e tests
  cypress.config.e2e.ts
  package-lock.json
  package.json
  script/local_e2e
Labels: bug, e2e tests

#554 (1216) Allow a workflow manager to reallocate an assessment
  cypress_shared/pages/assess/allocationsPage.ts
  integration_tests/mockApis/assessments.ts
  integration_tests/tests/assess/allocations.cy.ts
  server/controllers/assess/applications/allocationsController.test.ts
  server/controllers/assess/applications/allocationsController.ts
  server/data/applicationClient.test.ts
  server/data/applicationClient.ts
  server/i18n/en/errors.json
  server/paths/api.ts
  server/paths/assess.ts
  server/routes/assess.ts
  server/services/applicationService.test.ts
  server/services/applicationService.ts
  server/views/applications/allocations/show.njk
  server/views/assessments/index.njk
Labels: assess

#557 (1217) - Add optional chaining to tier level
  server/utils/applicationUtils.test.ts
  server/utils/applicationUtils.ts
Labels: bug, apply

#562 Fix postcode area guidance
  server/form-pages/apply/move-on/relocationRegion.ts
  server/views/applications/pages/location-factors/describe-location-factors.njk
Labels: apply

#572 (1217) - Fix UI crashes if tier is blank
  server/views/applications/pages/basic-information/is-exceptional-case.njk
  server/views/applications/pages/oasys-import/optional-oasys-sections.njk
Labels: bug

#565 Apply - Catch a 403 error from the createApplication method
  cypress_shared/pages/apply/enterCrn.ts
  integration_tests/mockApis/applications.ts
  integration_tests/tests/apply/apply.cy.ts
  server/controllers/apply/applicationsController.test.ts
  server/controllers/apply/applicationsController.ts
Labels: apply

#574 (1246) Apply - Contingency plan partners screens
  cypress_shared/fixtures/applicationData.json
  cypress_shared/helpers/apply.ts
  cypress_shared/pages/apply/checkYourAnswersPage.ts
  cypress_shared/pages/apply/contingencyPlanPartners.ts
  cypress_shared/pages/apply/index.ts
  server/@types/ui/index.d.ts
  server/form-pages/apply/risk-and-need-factors/further-considerations/arson.test.ts
  server/form-pages/apply/risk-and-need-factors/further-considerations/arson.ts
  server/form-pages/apply/risk-and-need-factors/further-considerations/contingencyPlanPartners.test.ts
  server/form-pages/apply/risk-and-need-factors/further-considerations/contingencyPlanPartners.ts
  server/form-pages/apply/risk-and-need-factors/further-considerations/index.ts
  server/form-pages/apply/schema.json
  server/testutils/factories/contingencyPlanPartner.ts
  server/utils/formUtils.test.ts
  server/utils/formUtils.ts
  server/views/applications/pages/further-considerations/contingency-plan-partners.njk
Labels: apply
