Repository ministryofjustice/hmpps-approved-premises-ui, pull requests merged in 2024-07, with the labels that each got.

#1972 APS 912 - Out of Service bed timeline
  .github/PULL_REQUEST_TEMPLATE.md
  integration_tests/pages/v2Manage/outOfServiceBeds/outOfServiceBedShow.ts
  integration_tests/tests/v2Manage/outOfServiceBeds.cy.ts
  server/controllers/v2Manage/outOfServiceBedsController.test.ts
  server/controllers/v2Manage/outOfServiceBedsController.ts
  server/testutils/factories/index.ts
  server/utils/nunjucksSetup.ts
  server/utils/outOfServiceBedUtils.test.ts
  server/utils/outOfServiceBedUtils.ts
  server/views/v2Manage/outOfServiceBeds/partials/_bedDetails.njk
  server/views/v2Manage/outOfServiceBeds/partials/_timeline.njk
  server/views/v2Manage/outOfServiceBeds/show.njk
Labels: manage

#1983 Use OoS bed entity for bed details, not the revision
  integration_tests/pages/v2Manage/outOfServiceBeds/outOfServiceBedShow.ts
  server/views/v2Manage/outOfServiceBeds/partials/_bedDetails.njk
Labels: manage

#1988 APS 889 - Improve OoS bed update date validation
  integration_tests/mockApis/outOfServiceBed.ts
  integration_tests/mockApis/utils.ts
  integration_tests/pages/v2Manage/outOfServiceBeds/outOfServiceBedUpdate.ts
  integration_tests/tests/v2Manage/future_manager/updatesOutOfServiceBed.cy.ts
  server/controllers/v2Manage/updateOutOfServiceBedsController.ts
  server/i18n/en/errors.json
  server/utils/outOfServiceBedUtils.test.ts
  server/utils/outOfServiceBedUtils.ts
Labels: manage

#1994 Remove unused match code
  server/@types/ui/index.d.ts
  server/controllers/match/index.ts
  server/controllers/match/placementRequestsController.test.ts
  server/controllers/match/placementRequestsController.ts
  server/services/placementRequestService.test.ts
  server/services/placementRequestService.ts
  server/utils/users/homePageDashboard.ts
Labels: match

#1998 Reintroduce Match transaction
  .env.example
  helm_deploy/values-dev.yaml
  helm_deploy/values-preprod.yaml
  helm_deploy/values-prod.yaml
  helm_deploy/values-test.yaml
  integration_tests/pages/match/placementRequestPage.ts
  integration_tests/pages/match/searchPage.ts
  integration_tests/tests/match/match.cy.ts
  server/config.ts
  server/controllers/admin/index.ts
  server/controllers/admin/placementRequests/placementRequestsController.test.ts
  server/controllers/admin/placementRequests/placementRequestsController.ts
  server/controllers/match/placementRequests/bookingsController.test.ts
  server/controllers/match/placementRequests/bookingsController.ts
  server/controllers/match/search/bedSearchController.test.ts
  server/controllers/match/search/bedSearchController.ts
  server/paths/match.ts
  server/routes/match.ts
  server/testutils/jest.setup.ts
  server/utils/placementRequests/adminIdentityBar.test.ts
  server/utils/placementRequests/adminIdentityBar.ts
  server/utils/placementRequests/utils.test.ts
  server/utils/placementRequests/utils.ts
  server/utils/premises/premisesActions.test.ts
  server/views/match/placementRequests/bookings/success.njk
Labels: match

#1999 Rename Beds to Spaces
  integration_tests/mockApis/beds.ts
  integration_tests/tests/match/match.cy.ts
  server/controllers/match/index.ts
  server/controllers/match/search/spaceSearchController.test.ts
  server/controllers/match/search/spaceSearchController.ts
  server/data/index.ts
  server/data/spaceClient.test.ts
  server/data/spaceClient.ts
  server/paths/api.ts
  server/routes/match.ts
  server/services/bedService.test.ts
  server/services/bedService.ts
  server/services/index.ts
  server/services/spaceService.test.ts
  server/services/spaceService.ts
  server/views/match/search.njk
Labels: match

#2013 Out of Service beds E2E test fixes
  e2e/pages/manage/v2MarkBedAsOutOfServicePage.ts
  e2e/tests/v2Manage.spec.ts
Labels: e2e tests

#2023 Fixup up E2E test to no longer use bed status
  e2e/pages/manage/v2BedsPage.ts
  e2e/tests/v2Manage.spec.ts
Labels: e2e tests

#2035 APS 1082 - Matcher searches for a space
  assets/sass/application.sass
  assets/sass/components/_filter.scss
  assets/sass/components/_space-search-identity.scss
  assets/sass/components/_space-search-inputs.scss
  cypress.config.ts
  integration_tests/mockApis/beds.ts
  integration_tests/mockApis/spaces.ts
  integration_tests/pages/match/confirmationPage.ts
  integration_tests/pages/match/searchPage.ts
  integration_tests/tests/match/match.cy.ts
  server/@types/ui/index.d.ts
  server/controllers/match/placementRequests/bookingsController.test.ts
  server/controllers/match/placementRequests/bookingsController.ts
  server/controllers/match/search/spaceSearchController.test.ts
  server/controllers/match/search/spaceSearchController.ts
  server/data/spaceClient.test.ts
  server/data/spaceClient.ts
  server/paths/api.ts
  server/services/spaceService.test.ts
  server/services/spaceService.ts
  server/testutils/factories/bedSearchParameters.ts
  server/testutils/factories/index.ts
  server/testutils/factories/placementRequest.ts
  server/testutils/factories/spaceBookingRequirements.ts
  server/testutils/factories/spaceSearchParameters.ts
  server/testutils/jest.setup.ts
  server/utils/matchUtils.test.ts
  server/utils/matchUtils.ts
  server/utils/placementRequests/utils.test.ts
  server/utils/placementRequests/utils.ts
  server/views/match/search.njk
Labels: match
