Repository ministryofjustice/hmpps-approved-premises-ui, pull requests merged in 2024-01, with the labels that each got.

#1318 APS-99 - Show current location in Assessments list for assessments where further information is requested
  integration_tests/tests/assess/list.cy.ts
  server/utils/assessments/tableUtils.test.ts
  server/utils/assessments/tableUtils.ts
Labels: assess

#1332 APS-103: Application timeliness
  integration_tests/fixtures/assessmentData.json
  integration_tests/pages/assess/applicationTimelinessPage.ts
  integration_tests/tests/apply/apply.cy.ts
  server/form-pages/apply/reasons-for-placement/basic-information/reasonForShortNotice.ts
  server/form-pages/assess/assessApplication/suitablityAssessment/applicationTimeliness.test.ts
  server/form-pages/assess/assessApplication/suitablityAssessment/applicationTimeliness.ts
  server/utils/applications/noticeTypeFromApplication.test.ts
  server/utils/applications/noticeTypeFromApplication.ts
  server/utils/tasks/listTable.ts
  server/views/assessments/pages/layout.njk
  server/views/assessments/pages/suitability-assessment/application-timeliness.njk
Labels: assess

#1363 Refactor Assessment integration tests
  cypress.config.ts
  integration_tests/fixtures/assessmentData.json
  integration_tests/helpers/apply.ts
  integration_tests/helpers/assess.ts
  integration_tests/mockApis/journeyUtils.ts
  integration_tests/mockApis/stubApplicationJourney.ts
  integration_tests/pages/apply/applyPage.ts
  integration_tests/pages/apply/showPage.ts
  integration_tests/pages/assess/applicationTimelinessPage.ts
  integration_tests/pages/assess/assessPage.ts
  integration_tests/pages/assess/checkYourAnswersPage.ts
  integration_tests/pages/assess/contingencyPlanSuitability.ts
  integration_tests/pages/assess/informationReceivedPage.ts
  integration_tests/pages/assess/makeADecisionPage.ts
  integration_tests/pages/assess/matchingInformationPage.ts
  integration_tests/pages/assess/requiredActionsPage.ts
  integration_tests/pages/assess/reviewPage.ts
  integration_tests/pages/assess/rfapSuitability.ts
  integration_tests/pages/assess/showPage.ts
  integration_tests/pages/assess/sufficientInformationPage.ts
  integration_tests/pages/assess/suitabilityAssessmentPage.ts
  integration_tests/pages/formPage.ts
  integration_tests/pages/page.ts
  integration_tests/tests/assess/assess.cy.ts
  integration_tests/tests/assess/shortNoticeAssessments.cy.ts
  server/utils/assessments/isAssessment.ts
Labels: assess

#1369 APS-90 Update Convicted Offences labels
  server/form-pages/apply/risk-and-need-factors/risk-management-features/convictedOffences.test.ts
  server/form-pages/apply/risk-and-need-factors/risk-management-features/convictedOffences.ts
Labels: apply

#1379 APS-204 Placement request has been marked unable to match" should be "Application
  integration_tests/tests/admin/placementRequests.cy.ts
  server/controllers/admin/placementRequests/unableToMatchController.test.ts
  server/controllers/admin/placementRequests/unableToMatchController.ts
Labels: match

#1376 APS-180: filter user dashboard by role allocation and region
  integration_tests/mockApis/users.ts
  integration_tests/pages/admin/userManagement/listPage.ts
  integration_tests/tests/admin/userManagement.cy.ts
  server/controllers/admin/userManagementController.test.ts
  server/controllers/admin/userManagementController.ts
  server/data/referenceDataClient.test.ts
  server/data/userClient.test.ts
  server/data/userClient.ts
  server/services/index.ts
  server/services/userService.test.ts
  server/services/userService.ts
  server/testutils/factories/referenceData.ts
  server/testutils/referenceData/stubs/probation-regions.json
  server/testutils/referenceData/stubs/referenceDataStubs.ts
  server/utils/users/userManagement.test.ts
  server/utils/users/userManagement.ts
  server/views/admin/users/index.njk
Labels: admin

#1386 (APS 83) - Add drop down clusters in manage to allow user to select preferred region
  integration_tests/mockApis/premises.ts
  integration_tests/mockApis/users.ts
  integration_tests/pages/manage/premisesList.ts
  integration_tests/tests/manage/premises.cy.ts
  server/controllers/admin/placementRequests/bookingsController.test.ts
  server/controllers/manage/index.ts
  server/controllers/manage/premises/premisesController.test.ts
  server/controllers/manage/premises/premisesController.ts
  server/data/premisesClient.test.ts
  server/data/premisesClient.ts
  server/data/referenceDataClient.test.ts
  server/data/referenceDataClient.ts
  server/routes/manage.ts
  server/services/apAreaService.test.ts
  server/services/apAreaService.ts
  server/services/index.ts
  server/services/premisesService.test.ts
  server/services/premisesService.ts
  server/services/userService.test.ts
  server/services/userService.ts
  server/testutils/factories/index.ts
  server/testutils/factories/referenceData.ts
  server/utils/premisesUtils.test.ts
  server/utils/premisesUtils.ts
  server/views/premises/index.njk
Labels: manage

#1394 'Select a area' > 'Select an area'
  assets/js/flattenPremisesOptions.js
Labels: apply

#1397 APS 184 - Allow the user to specify a region
  integration_tests/fixtures/applicationData.json
  integration_tests/helpers/apply.ts
  integration_tests/mockApis/users.ts
  integration_tests/pages/apply/confirmYourDetails.ts
  integration_tests/tests/apply/apply.cy.ts
  integration_tests/tests/apply/invalidations.cy.ts
  server/@types/ui/index.d.ts
  server/controllers/apply/index.ts
  server/form-pages/apply/reasons-for-placement/basic-information/confirmYourDetails.test.ts
  server/form-pages/apply/reasons-for-placement/basic-information/confirmYourDetails.ts
  server/form-pages/apply/schema.json
  server/testutils/mockQuestionResponse.ts
  server/utils/applications/getApplicationData.test.ts
  server/utils/applications/getApplicationData.ts
  server/views/applications/pages/basic-information/confirm-your-details.njk
Labels: apply

#1405 APS-184 - Fix - Add getter for area
  integration_tests/fixtures/applicationData.json
  server/form-pages/apply/reasons-for-placement/basic-information/confirmYourDetails.test.ts
  server/form-pages/apply/reasons-for-placement/basic-information/confirmYourDetails.ts
  server/form-pages/apply/schema.json
  server/utils/azureAppInsights.ts
  server/views/applications/pages/basic-information/confirm-your-details.njk
Labels: apply

#1409 APS 199 - Placement requests dashboard should filter by name tier and request type
  integration_tests/pages/admin/placementApplications/listPage.ts
  integration_tests/pages/page.ts
  integration_tests/tests/admin/placementRequests.cy.ts
  server/@types/ui/index.d.ts
  server/controllers/admin/index.ts
  server/controllers/admin/placementRequests/placementRequestsController.test.ts
  server/controllers/admin/placementRequests/placementRequestsController.ts
  server/data/placementRequestClient.test.ts
  server/data/placementRequestClient.ts
  server/services/placementRequestService.test.ts
  server/services/placementRequestService.ts
  server/testutils/factories/risks.ts
  server/utils/applications/releaseTypeUtils.ts
  server/utils/formUtils.ts
  server/utils/placementRequests/index.ts
  server/utils/placementRequests/table.test.ts
  server/utils/placementRequests/table.ts
  server/utils/placementRequests/utils.ts
  server/views/admin/placementRequests/index.njk
Labels: admin

#1412 APS-199 - Ensure that the status filter is retained when another filter is applied
  integration_tests/pages/admin/placementApplications/listPage.ts
  integration_tests/tests/admin/placementRequests.cy.ts
  server/controllers/admin/placementRequests/placementRequestsController.test.ts
  server/controllers/admin/placementRequests/placementRequestsController.ts
  server/routes/admin.ts
  server/views/admin/placementRequests/index.njk
  server/views/admin/placementRequests/search.njk
Labels: admin

#1433 APS-250 Update application withdrawal reasons
  integration_tests/pages/apply/withdrawApplicationPage.ts
  integration_tests/tests/apply/withdrawApplication.cy.ts
  server/@types/shared/models/WithdrawalReason.ts
  server/utils/applications/withdrawalReasons.test.ts
  server/utils/applications/withdrawalReasons.ts
Labels: apply
